body {
  background: radial-gradient(circle at 10% 20%, rgb(186, 190, 245) 0%, rgb(192, 192, 245) 33.1%, rgb(218, 203, 246) 90%);
}
  
  h1 {
    text-align: center;
    font-family: "Acme", sans-serif;
    font-size: 36px;
    letter-spacing: 2px;
    color: #333333;
  }
  
  h2 {
    margin: 0 0 10px 10px;
    font-size: 28px;
    font-family: "Acme", sans-serif;
    letter-spacing: 2px;
  }
  
  select {
    background-color: #EAE6FA;
    font-family:"Acme", sans-serif;
    display: block;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
  }
  
  .container {
    max-width: 600px;
    margin: 40px auto;
    background:#E6E6FA;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    color: white;
  }


  #madrid {
    background-color: #A8B8E3;
  }

  #tokyo{
    background-color: #BDCBBA;
  }

  
  .city {
    font-family: "Acme", sans-serif;
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    padding: 30px 0;
    border-radius: 20px;
    background-color:#E3ADBB;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  }
  
  .city:last-child {
    border: none;
  }
  
  .date {
    opacity: 0.7;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
    margin: 0 0 10px 10px;
  }

  .time {
    font-size: 42px;
    font-weight: 400;
    
  }
  
  .time small {
    font-size: 24px;
    vertical-align: middle;
    line-height: 48px;
  }
  
  footer {
    font-family:"Acme", sans-serif;
    text-align: center;
    font-size: 18px;
    color: #003366;
  }

  a {
    color:#8B008B;
    font-family:"Acme", sans-serif;
  }